// modal changes
.modal {
  width: 97vw !important;
}

.modal-content {
  width: 100% !important;
}

.modal-footer {
  align-self: center !important;
  display: block !important;
  padding-right: 3.75vh !important;
  padding-left: 3.75vh !important; 
}

.modal-header {
  padding: 0.6rem 0.6rem !important;
}
// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-form {
  font-size: 18px;
  padding: 20px 40px;
  height: 18vh;
  width: 18vh;
  margin-top: 2vh;
  margin-bottom: 2vh; 
  margin-left: 4vh;
  margin-right: 4vh;
  -webkit-justify-content: center;
  display: -webkit-inline-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: #184abb !important;
    border-color: #184abb !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem #184abb !important;
  }
}
