.modal-dialog {
    margin: .5rem !important;
}

.modal-open .modal.show {
    overflow-y: hidden !important;
    padding-right: 0 !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center !important;
}

.modal-body {
    overflow-y: auto;
    height: auto;
    max-height: 570px;
}

#preview-modal-pdf,
#preview-medical-pdf {
    width: auto;
    height: auto;
    color: #ffffff;
    opacity: 1;
    z-index: 1050;
    position: relative;
    top: 5px;
}

.group-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &>[type=button] {
        min-width: 120px;
        padding: .45rem .85rem;
        margin: 5px;
    }
}