<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Posts</title>
</head>
<body>
    <ul>
        {% for post in posts %}
        <li>
            <img src="{{MEDIA_URL}}{{post.Image1.url}}" alt="">
            {{post.Titre}} {{post.Sous_titres}} {{post.Contenu}} {{post.Image1.url}}</li>
        {% endfor %}
    </ul>
</body>
</html>