.hidden {
    display: none;
}


/* Accordion CSS */

.accordion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .accordion-droit {
        box-sizing: content-box;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 .75rem;
        height: auto;
        color: #212529;
        background-color: rgba(220, 220, 220, .35);
        border: 1px solid #f8f8f8;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 300ms ease-in-out;
        border-radius: 5px;
        margin-bottom: 5px;
        min-height: 45px;
        height: auto;
        &:hover {
            text-decoration: none;
        }
        p {
            margin: 0;
        }
        i.fas {
            transform: rotate(0deg);
            transition: all 300ms ease-in-out;
            margin-left: 10px;
            &.rotate {
                transform: rotate(180deg);
            }
        }
    }
    .accordion-droit:hover,
    .accordion-droit.active {
        background-color: #007bff;
        color: #f9f9f9;
    }
    .accordion-droit:hover {
        cursor: pointer;
    }
    .accordion-panel {
        text-align: justify;
        font-size: 1.09rem;
        background-color: #ffffff;
        height: 0;
        border-radius: 5px;
        animation-duration: 600ms;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
        animation-iteration-count: unset;
        animation-direction: normal;
        box-shadow: .1rem .1rem 1rem 0 rgba(0, 0, 0, 0.2);
        &.show {
            padding: .75rem;
            margin-bottom: 10px;
            animation-name: show;
        }
    }
}

@keyframes show {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}

@keyframes hide {
    from {
        height: auto;
    }
    to {
        height: 0;
    }
}