// Styling for the masthead
header.masthead {
  text-align: center;
  color: black;
  /*background-image: url('../img/informatique.jpg');*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {    
    padding: 1.5rem 0;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }  
  .step {
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-name: show;
    opacity: 0;
    position: relative;
    bottom: -15px;
  }
  .step.first{
    animation-delay: 500ms;
  }
  .step.second{
    animation-delay: 1000ms;
  }
  .step.third{
    animation-delay: 1500ms;
  }
  .step.forth{
    animation-delay: 2000ms;
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 45px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 1;
    bottom: -15px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}