<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- Axios Ajax library Js File -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Title</title>
</head>

<body>

    <div class="mt-5 container">
        <h1 class="h4">Ajouter un article</h1>
        <form action="/api/posts" method="post" onsubmit="handleRequest(this, event)">
            <div class="form-group">
                <label for="title">Titre de l'article</label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="custom-file">
                <input id="poster" class="custom-file-input" type="file" name="poster" onchange="setName(this, event)">
                <label for="poster" class="custom-file-label">Text</label>
            </div>
            <div class="form-group">
                <label for="excerpt">Châpo</label>
                <textarea id="excerpt" class="form-control" name="excerpt" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="content">Contenu</label>
                <textarea id="content" class="form-control" name="content" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="status">Text</label>
                <select id="status" class="custom-select" name="status">
                    <option value="draft">Brouillon</option>
                    <option value="published">Publié</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script>
        const handleRequest = (form, e) => {
            e.preventDefault();
            const url = form.action;

            const data = new FormData(form)

            axios
                .post(url, data)
                .then(({
                    data
                }) => {
                    console.log(data)
                })
                .catch(({
                    response
                }) => {
                    console.log(response)
                });
        }

        const setName = (input, e) => {
            file = e.target.files[0];
            inputName = input.id;

            if (file && file.name !== "") {
                label = document.querySelector(`[for="${inputName}"]`);
                label.innerText = file.name
            }
        }
    </script>
</body>

</html>